[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
traitlets-paths = "*"
traitlets = "*"

[dev-packages]
ipython = "*"
sphinx = "*"
pylint = "*"
sphinx-rtd-theme = "*"
black = "*"

[requires]
python_version = "3.7"
